<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Map{% endblock %}</title>

        {% block stylesheets %}
            {# Here could use symfony encore #}
            <link rel="stylesheet" href="style.css">
        {% endblock %}
    </head>
    <body data-harbors="{{ harbors }}">
        {% block body %}
            <h3>My Google Maps Demo</h3>
            <div id="map"></div>
        {% endblock %}
    </body>

    {% block javascripts %}
        {# Here could use symfony encore #}
        <script type="text/javascript" src="map.js"></script>
        <script
                src="https://maps.googleapis.com/maps/api/js?key={{ app.request.server.get('MAPS_API_KEY') }}&callback=initMap&libraries=&v=weekly&channel=2"
                async
        ></script>
    {% endblock %}
</html>
