<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Map!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <style>
                /* Set the size of the div element that contains the map */
                #map {
                    height: 800px;
                    width: 100%;
                }
            </style>
        {% endblock %}
    </head>
    <body data-harbors="{{ harbors }}">
        {% block body %}
            <h3>My Google Maps Demo</h3>
            <!--The div element for the map -->
            <div id="map"></div>
        {% endblock %}
    </body>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
{#        <script type="text/javascript">#}
{#            // Initialize and add the map#}
{#            function initMap() {#}

{#                // The location of Uluru#}
{#                const uluru = { lat: -25.344, lng: 131.036 };#}
{#                // The map, centered at Uluru#}
{#                const map = new google.maps.Map(document.getElementById('map'), {#}
{#                    zoom: 4,#}
{#                    center: uluru,#}
{#                });#}

{#                const body = document.querySelector('body');#}

{#                const harbors = JSON.parse(body.dataset.harbors);#}
{#                // console.log( harbors.length);#}
{#                for (let i=0; i<harbors.length; i++) {#}

{#                    const harbor = harbors[i];#}
{#                    const infoWindow = new google.maps.InfoWindow({#}
{#                        content: harbor['name'],#}
{#                    });#}

{#                    const marker = new google.maps.Marker({#}
{#                        position: { lat: parseFloat(harbor['lat']), lng: parseFloat(harbor['lon']) },#}
{#                        map: map,#}
{#                    });#}

{#                    marker.addListener('click', () => {#}
{#                        infoWindow.open({#}
{#                            anchor: marker,#}
{#                            map,#}
{#                            shouldFocus: false,#}
{#                        });#}
{#                    });#}
{#                }#}
{#            }#}
{#        </script>#}

        <script
                src="https://maps.googleapis.com/maps/api/js?key={{ app.request.server.get('MAPS_API_KEY') }}&callback=initMap&libraries=&v=weekly&channel=2"
                async
        ></script>
    {% endblock %}
</html>
